html {
    background-size: cover;
    height: 100%;
    width: 100%;
    background-image: url('/images/map-background.jpg');
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}



.main-container {
    height: 33%;
    width: 100%;
}

.middle-container {
    display: flex;
    justify-content: center;
}
.upper-octagon-container {
    display: flex;
}
.lower-octagon-container {
    display: flex;
    margin-left: 12.5vh;
    margin-top: -5.7vh;
}
.octagon-block {
    background-size: cover;
    cursor: pointer;
    width: 25vh;
    height: 25vh;
    color: #fff;
    text-align: center;
    clip-path: polygon( 50% 2%, 98% 25%, 98% 75%, 50% 98%, 2% 75%, 2% 25%);
    display: flex;
    justify-content: end;
}

.octagon-background-container {
    background-size: cover;
    cursor: pointer;
    width: 25vh;
    height: 25vh;
    color: #fff;
    text-align: center;
    clip-path: polygon( 50% 1%, 99% 25%, 99% 75%, 50% 99%, 1% 75%, 1% 25% );
    display: flex;
    justify-content: end;
    background-color: #00a5ff;
}

#first-location {
    background-image: url('/images/1_image.jpg');
}
#second-location {
    background-image: url('/images/2_image.jpg');
}
#third-location {
    background-image: url('/images/3_image.jpg');
}
#fourth-location {
    background-image: url('/images/4_image.jpg');
}
#fifth-location {
    background-image: url('/images/5_image.jpg');
}


.octagon-containers-count {
    width: 2vh;
    height: 2vh;
    margin-top: 0.8vh;
    margin-right: -1.5vh;
}

/*https://www.freecodecamp.org/news/apply-borders-to-clip-paths-with-css! - границы*/


.upper-part {
    display: flex;
    justify-content: space-between;
}
.profile-menu {
    position: fixed;
    top: 2vh;
    right: 2vh;
    display: flex;
    align-items: center;
}

.nickname {
    font-size: 2vh;
    font-weight: bold;
    color: #ff0000;
    margin-right: 1vh;
}

.sign-up-btn,
.sign-in-btn, .log-out {
    cursor: pointer;
    padding: 1vh 1vh;
    background-color: #2F73B6;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.4vh;
    margin-right: 1vh;
}

.sign-up-btn:hover,
.sign-in-btn:hover {
    background-color: #1F5B96;
}




.authentication-form {
    width: 25%;
    display: grid;
    background-color: wheat;
    padding: 3vh;
    border-radius: 1vh;
    height: 100%;
}

.auth-title, .reg-title {
    font-size: 2.5vh;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}


.credentials-name,.auth-btn {
    font-size: 2vh;
}

.credentials-input, .auth-btn {
    height: 3vh;
}


.search-container {
    width: 15%;
}

.search-container-input {
    width: 100%;
    height: 3vh;
    padding: 0.5vh;
    border: 0.4vh solid #2a7096;
    border-radius: 0.5vh;
    background-color: #031014;
}

.info-table-body {
    color: white;

}
.info-table {
    border: 0.4vh solid #2a7096;
    border-left: aliceblue;
    border-bottom: aliceblue;
    height: 100%;
}


.row {
    height: 3vh;
}
.lower-part{
    display: flex;
}


.add-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 34vh;
    justify-self: center;
    margin-left: 44vh;
}

.add-container input {
    flex: 1;
    border: 0.4vh solid #2a7096;
    padding: 0.5vh;
    border-radius: 0.5vh;
    background-color: #031014;
}

.add-container button {
    background-color: #031014;
    color: #fff;
    border: 0.1vh solid #2a7096;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0.5vh;
    margin-left: 0.4vh
}



/*border: 2px solid red;*/
/*border-left: aliceblue;*/
/*border-bottom: aliceblue;*/
/*background-color: #00a5ff;*/
/*background-color: #00ff9e;*/